name: Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: C:\production\venv\Scripts\pip.exe install -r requirements.txt
      - run: C:\production\nssm\nssm-2.24\win64\nssm.exe restart UnicornMaster